.footer__social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.footer__contacto {
    font-size: 0.9em;
    color: #cccccc;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}